In [1]:
import pandas as pd
import geopandas as gpd
import requests
from shapely.geometry import Point

# Part 1 Data Preprocessing

## Download Data

In [3]:
token = "vAtl2Z7zE587vSL1K0jPGUqgw"

Download zipcode data

In [5]:
raw_zipcode = gpd.read_file("nyc_zipcodes.shp")
raw_zipcode

,ZIPCODE,BLDGZIP,PO_NAME,POPULATION,AREA,STATE,COUNTY,ST_FIPS,CTY_FIPS,URL,SHAPE_AREA,SHAPE_LEN,geometry
0,11436,0,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,http://www.usps.com/,0.0,0.0,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,11213,0,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,11212,0,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
3,11225,0,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995908.365 183617.613, 996522.848 18..."
4,11218,0,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((991997.113 176307.496, 992042.798 17..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,10310,0,Staten Island,25003.0,5.346328e+07,NY,Richmond,36,085,http://www.usps.com/,0.0,0.0,"POLYGON ((950767.507 172848.969, 950787.510 17..."
259,11693,0,Far Rockaway,11052.0,3.497516e+06,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1028453.995 167153.410, 1027813.010 ..."
260,11249,0,Brooklyn,28481.0,1.777221e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995877.318 203206.075, 995968.511 20..."
261,10162,1,New York,0.0,2.103489e+04,NY,New York,36,061,http://www.usps.com/,0.0,0.0,"POLYGON ((997731.761 219560.922, 997641.948 21..."
262,10119,1,New York,0.0,1.263930e+05,NY,New York,36,061,http://www.usps.com/,0.0,0.0,"POLYGON ((986038.661 213051.063, 986135.314 21..."

Download Zillow Data

In [6]:
raw_zillow = pd.read_csv("zillow_rent_data.csv")
raw_zillow

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1606.206406,...,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1257.814660,...,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,NaN,...,1701.217520,1706.900064,1706.067787,1723.722320,1735.484670,1752.132904,1756.990323,1754.429516,1757.602011,1755.031490
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1419.480272,1458.063897,1471.726681,1466.734658,1456.175660,1462.478506,1466.267391,1490.237063,1488.180414,1494.366097
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6717,418163,30158,89158,zip,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,NaN,...,3281.330738,3509.210744,3407.499896,3438.041504,3436.371804,3524.703410,3426.708975,3412.249969,3310.302151,3448.166667
6718,72017,30490,32461,zip,FL,FL,Panama City Beach,"Crestview-Fort Walton Beach-Destin, FL",Walton County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2583.675563,2590.977335,2639.938102,2702.500000
6719,58956,30490,2876,zip,RI,RI,North Smithfield,"Providence-Warwick, RI-MA",Providence County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2250.000000
6720,91179,30490,76005,zip,TX,TX,Arlington,"Dallas-Fort Worth-Arlington, TX",Tarrant County,NaN,...,2148.224601,2169.143026,2179.393248,2226.624684,2369.532530,2374.713926,2414.638428,2389.749852,2383.185013,2313.944444
6721,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,4006.972903,4000.923287,4002.584212,4085.513015,4224.569373,4240.040733,4286.776061,4270.158740,4353.055657,4355.328283

Download 311 data with API

In [7]:
def download_data(token, url) -> pd.DataFrame:
    """
    Download data from an API using the provided token and URL.

    Arguments:
        token (str): The API token for authentication.
        url (str): The URL of the API endpoint for data retrieval.

    Returns:
        pandas.DataFrame: A DataFrame containing the downloaded data.

    """
    # Set up the headers with the API token
    headers = {'X-App-Token': token}

    # Make the API request
    response = requests.get(url, headers=headers)
    data = response.json()

    # Convert the data to a DataFrame
    raw_data = pd.DataFrame(data)

    return raw_data

In [8]:
# API endpoint URL
url_311 = 'https://data.cityofnewyork.us/resource/erm2-nwe9.json?$where=created_date between \'2015-01-01\' and \'2023-10-01\'&$limit=10000000000&$SELECT=created_date,complaint_type,incident_zip,latitude,longitude'

#download data
raw_311 = download_data(token, url_311)
raw_311

,created_date,complaint_type,incident_zip,latitude,longitude
0,2023-09-30T23:59:58.000,Noise - Street/Sidewalk,11226,40.655672001198894,-73.95917686020623
1,2023-09-30T23:59:38.000,Noise - Residential,11361,40.76675595839554,-73.78751847563191
2,2023-09-30T23:59:35.000,Noise - Commercial,10002,40.71949965458691,-73.98486650733275
3,2023-09-30T23:59:34.000,Noise - Residential,11435,40.687499303408536,-73.7972903094197
4,2023-09-30T23:59:28.000,Noise - Residential,11226,40.65220215349917,-73.9579464603267
...,...,...,...,...,...
24336514,2015-01-01T00:00:00.000,HEAT/HOT WATER,10028,40.776440176160676,-73.95570886749827
24336515,2015-01-01T00:00:00.000,HEAT/HOT WATER,10037,40.81306232619066,-73.9416351748284
24336516,2015-01-01T00:00:00.000,PAINT/PLASTER,10034,40.86836642930603,-73.9164221678853
24336517,2015-01-01T00:00:00.000,HEAT/HOT WATER,10459,40.824342895821275,-73.89188968213699
24336518,2015-01-01T00:00:00.000,HEAT/HOT WATER,11106,40.76332184793551,-73.92648838004826

In [9]:
#make a copy
df_311_1 = raw_311.copy()

Download tree data with API

In [10]:
# API endpoint URL
url_tree = 'https://data.cityofnewyork.us/resource/5rq2-4hqu.json?$limit=10000000000'

# Print the data
raw_tree = download_data(token, url_tree)
raw_tree.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,"{'type': 'Point', 'coordinates': [-73.84421521...",3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.72309177,-73.84421522,1027431.14821,202756.768749
1,09/03/2015,200540,315986,"{'type': 'Point', 'coordinates': [-73.81867945...",21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.79411067,-73.81867946,1034455.70109,228644.837379
2,09/05/2015,204026,218365,"{'type': 'Point', 'coordinates': [-73.93660770...",3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.71758074,-73.9366077,1001822.83131,200716.891267
3,09/05/2015,204337,217969,"{'type': 'Point', 'coordinates': [-73.93445615...",10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.71353749,-73.93445616,1002420.35833,199244.253136
4,08/30/2015,189565,223043,"{'type': 'Point', 'coordinates': [-73.97597938...",21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.66677776,-73.97597938,990913.775046,182202.425999

In [11]:
#make a copy
df_tree_1 = raw_tree.copy()

## Clean Data

Clean Zipcdoe Data

In [13]:
import geopandas as gpd

def clean_zipcode(data: gpd.GeoDataFrame) -> gpd.GeoDataFrame:
    """
    Clean and process zipcode data.

    Arguments:
        data (geopandas.geodataframe.GeoDataFrame): The input GeoDataFrame containing zipcode data.

    Returns:
        geopandas.geodataframe.GeoDataFrame: A cleaned GeoDataFrame with consistent column names and normalized geometry.

    """
    # Remove unnecessary columns in zipcode data
    data = data.loc[:, ["ZIPCODE", "geometry"]]

    # Remove duplicate rows
    data = data.drop_duplicates().reset_index(drop=True)

    # Rename column names
    data.rename(columns={'ZIPCODE': 'zipcode', 'geometry': 'location'}, inplace=True)

    # Set 'location' column as the geometry
    gdf_zipcode_2 = data.set_geometry('location')

    # Normalize the SRID of the geometry
    gdf_zipcode_2 = gdf_zipcode_2.to_crs('EPSG:4326')

    return gdf_zipcode_2

gdf_zipcode_2 = clean_zipcode(raw_zipcode)
gdf_zipcode_2.head()

  zipcode                                           location
0   11436  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1   11213  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2   11212  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3   11225  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4   11218  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

Clean Zillow data

In [14]:
def clean_rent(data: pd.DataFrame) -> pd.DataFrame:
    """
    Clean and process rental data from Zillow.

    Argument:
        data (pd.DataFrame): The input DataFrame containing rental data.

    Returns:
        pd.DataFrame: A cleaned DataFrame with columns 'zipcode', 'date', and 'rent'.

    """
    # Concatenate necessary columns
    df_zillow_1 = pd.concat([data.iloc[:, [2, 6]], data.iloc[:, 9:]], axis=1)

    # Drop rows outside of NYC
    index = df_zillow_1[df_zillow_1['City'] != "New York"].index
    df_zillow_2 = df_zillow_1.drop(index).reset_index(drop=True)
    
    # Drop the 'City' column
    df_zillow_2 = df_zillow_2.drop(["City"], axis=1)

    # Change the format of the DataFrame
    df_rent_1 = pd.DataFrame(columns=["zipcode", "date", "rent"])
    temp_data = []
    for index, row in df_zillow_2.iterrows():
        for i in range(len(row)-1):
            temp_data.append({"zipcode": str(int(row[0])), "date": df_zillow_2.columns[i+1], "rent": row[i+1]})
    df_rent_1 = pd.concat([df_rent_1, pd.DataFrame(temp_data)], ignore_index=True)
    
    # Drop rows with missing values in the 'rent' column
    df_rent_1.dropna(subset=['rent'], inplace=True)
    
    # Reset the index
    df_rent_1 = df_rent_1.reset_index(drop=True)

    # Convert the 'date' column to datetime objects
    df_rent_1['date'] = pd.to_datetime(df_rent_1['date'])

    return df_rent_1

df_rent_1 = clean_rent(raw_zillow)
df_rent_1.head()

  zipcode       date         rent
0   11385 2015-02-28  2087.527084
1   11385 2015-04-30  2149.924252
2   11385 2015-05-31  2166.263698
3   11385 2015-06-30  2148.992886
4   11385 2015-07-31  2190.098591

Clean 311 data

In [15]:
def clean_311(data: pd.DataFrame) -> gpd.GeoDataFrame:
    """
    Clean and process 311 data.

    Arguments:
        data (pd.DataFrame): The input DataFrame containing 311 data.

    Returns:
        gpd.GeoDataFrame: A cleaned GeoDataFrame with columns 'zipcode', 'date', 'location', and 'geometry'.

    """
    # Drop rows with missing values
    data.dropna(inplace=True)

    # Rename columns
    data.rename(columns={'incident_zip': 'zipcode', 'created_date': 'date'}, inplace=True)
    
    # Transform date column to datetime objects
    data['date'] = pd.to_datetime(data['date'])

    # Create 'location' column using latitude and longitude
    data['location'] = [Point(xy) for xy in zip(data.longitude, data.latitude)]

    # Create a GeoDataFrame with 'location' as the geometry column
    gdf_311_1 = gpd.GeoDataFrame(data, geometry='location')

    # Normalize the SRID to EPSG:4326
    gdf_311_1.crs = 'EPSG:4326'

    return gdf_311_1


gdf_311_1 = clean_311(df_311_1)
gdf_311_1.head()

,date,complaint_type,zipcode,latitude,longitude,location
0,2023-09-30 23:59:58,Noise - Street/Sidewalk,11226,40.655672001198894,-73.95917686020623,POINT (-73.95918 40.65567)
1,2023-09-30 23:59:38,Noise - Residential,11361,40.76675595839554,-73.78751847563191,POINT (-73.78752 40.76676)
2,2023-09-30 23:59:35,Noise - Commercial,10002,40.71949965458691,-73.98486650733275,POINT (-73.98487 40.71950)
3,2023-09-30 23:59:34,Noise - Residential,11435,40.687499303408536,-73.7972903094197,POINT (-73.79729 40.68750)
4,2023-09-30 23:59:28,Noise - Residential,11226,40.65220215349917,-73.9579464603267,POINT (-73.95795 40.65220)

Clean Tree Data

In [17]:
def clean_tree(data: pd.DataFrame) -> gpd.GeoDataFrame:
    """
    Clean and process tree data.

    Arguments:
        data (pd.DataFrame): The input DataFrame containing tree data.

    Returns:
        gpd.GeoDataFrame: A cleaned GeoDataFrame with columns 'zipcode', 'tree_id', 'latitude', 'longitude', 'status', 'health', 'species', 'location', and 'geometry'.

    """
    # Remove unnecessary columns
    data = data.loc[:, ["zipcode", "tree_id", "latitude", "longitude", "status", "health", "spc_common"]]

    # Drop rows with missing values
    data.dropna(inplace=True)

    # Rename columns
    data.rename(columns={'spc_common': 'species'}, inplace=True)

    # Add 'location' column using latitude and longitude
    data['location'] = [Point(xy) for xy in zip(data.longitude, data.latitude)]

    # Create a GeoDataFrame with 'location' as the geometry column
    gdf_tree_1 = gpd.GeoDataFrame(data, geometry='location') 
    gdf_tree_1.crs = 'EPSG:4326'

    return gdf_tree_1
gdf_tree_1 = clean_tree(df_tree_1)
gdf_tree_1.head()

,zipcode,tree_id,latitude,longitude,status,health,species,location
0,11375,180683,40.72309177,-73.84421522,Alive,Fair,red maple,POINT (-73.84422 40.72309)
1,11357,200540,40.79411067,-73.81867946,Alive,Fair,pin oak,POINT (-73.81868 40.79411)
2,11211,204026,40.71758074,-73.9366077,Alive,Good,honeylocust,POINT (-73.93661 40.71758)
3,11211,204337,40.71353749,-73.93445616,Alive,Good,honeylocust,POINT (-73.93446 40.71354)
4,11215,189565,40.66677776,-73.97597938,Alive,Good,American linden,POINT (-73.97598 40.66678)

## Part 2: Storing Data

## Create database